doctype html

- var song = ""

body
  h1(style="text-align : center") 抒情組＃1 - 巢
  #author(style="text-align : center")
    p %  所有歌曲版權屬創作學生與畢聯會所有，請勿轉作任何商業用途及散播  %
    br
    p 詞：盧景弘
    p 曲：盧景弘
    p 主唱：盧景弘
    p 吉他：盧景弘
 
  br
  #song(style="text-align : center")
    !{song}

  br
  #lyric(style="margin : 0 auto; width : 60vw")
    p 就像每個流浪的人　又在今夜　失眠了
    p 就像是一隻壞掉的表　又在深夜　獨自追逐著時間
    p 可你跑得再快也　追不到昨天
    p 可跑得再慢　　也追不到昨天
    p 阿哈　你說你就像是候鳥一樣
    p 說流浪　是為了故鄉
    p 阿哈　你說你就像是候鳥
    p 再冷的夜裡　也渴望著一個　溫暖的巢
    br
    p 就像每個念舊的人　又在過去　徘徊
    p 就像是一隻孤獨的舟　在夕陽下　划著槳　說了再見
    p 可你划得再久也　到不了昨天
    p 可划得再慢　　也到不了昨天
    p 阿哈　你說你就像是候鳥一樣
    p 說流浪　是為了故鄉
    p 阿哈　你說你就像是候鳥
    p 再冷的夜裡　也渴望著一個
    br
    p 阿哈　我說我也像是候鳥一樣
    p 說流浪　的人　回家吧
    p 阿哈　我說我也像是候鳥
    p 說累了　就睡吧
    br
    p 我在等候你呢
    br
    br


