doctype html

- var song = ""

body
  h1(style="text-align : center") 抒情組＃2 - 綻放之後
  #author(style="text-align : center")
    p %  所有歌曲版權屬創作學生與畢聯會所有，請勿轉作任何商業用途及散播  %
    br
    p 詞：陳志源
    p 曲：陳志源
    p 主唱：陳駿碩
    p 和音：沈雅竹
    p 電吉他：陳志源
 
  br
  #song(style="text-align : center")
    !{song}

  br
  #lyric(style="margin : 0 auto; width : 60vw")
    p 花開的午後  青澀的氣息濃厚
    p 熟悉的節奏  映出你燦爛笑容
    p 汗水盡情揮霍  夕陽映染沙丘
    p 星光下唱著歌  細聲傾訴你我
    p 或許  有時  會困惑  有時  會難過  說好要一起走
    br
    p ※
    p 勇敢追一個夢  奔向那萬里晴空
    p 願牽著你的手  走過無數山丘
    p 時光無情蹉跎  散場後留下什麼?
    p 記憶隨著風伴點痛釀在心頭
    br
    p ※
    p 勇敢追一個夢  航向那耀眼星空
    p 願牽著你的手  渡過無盡河流
    p 思念細水長流  那盡頭有著什麼?
    p 只願到了冬望著空有你守候
    p 直到永久
    br
    p 誤會憤怒沉默  淚水浸溼衣袖
    p 笑著訴說傷痛  盡看星空花火
    p 或許  有時  會困惑  有時  會難過  說好要一起走
    br
    p (重覆※)
    br
    br


