doctype html

- var song = ""

body
  h1(style="text-align : center") 抒情組＃3 - 時光森林
  #author(style="text-align : center")
    p %  所有歌曲版權屬創作學生與畢聯會所有，請勿轉作任何商業用途及散播  %
    p 詞：李姿慧
    p 曲：李姿慧
    p 主唱：李姿慧
    p 吉他：李姿慧
    p 長笛：李姿慧
 
  br
  #song(style="text-align : center")
    !{song}

  br
  #lyric(style="margin : 0 auto; width : 60vw")
    p 一片墨綠壟罩天空  白光幾點穿透其中
    p 陽光大方指引道路  最怕是吝於抬頭看路
    p 照片拼著張張溫度  前方會是怎樣的路途
    p 時間不允許往回一步  各自擁有的時光森林 走呀走入
    br   
    p 因春暖而花開  每一朵性格的花
    p 夢想連結凝聚  閃耀出自信水花  
    p 每個認真生活  向前鑽進的毛毛蟲  以及依賴安全感的狐獴
    p 默默地傻傻耕耘  
    p 冬天裡空蕩枯枝  滿地落葉土壤堆起
    p 是全心全意付出留下的證據  為得是下一次絢爛耀眼
    br
    p 葉片貪婪吸收養分 像在庇蔭下嘗試錯誤
    p 本分中要認真學習   簡單的生活還有多久  
    p 灌溉後的小樹會有  怎麼樣的強韌堅定
    p 大樹葉片漸漸凋零  眼睜看著 樹幹顏色漸漸斑白 (那是時間)
    br
    p 時間走了  青春要過了
    p 責任要來了 家人怎麼老了
    p 滴答滴答 滴答答滴滴答
    p 真的  沒有時間  在軟弱一下嗎
    p 能不能夠 就在耍賴一下
    p 我還不想長大 還不想畢業呀
    p 你呢  我呢  也許剩此刻 !
    p 最後說出心裡話  我們要畢業啦


