doctype html

- var song = '<iframe width="560" height="315" src="https://www.youtube.com/embed/CNXMzGPITFU" frameborder="0" allowfullscreen></iframe>'
- var demo = '<iframe width="60%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/195799659%3Fsecret_token%3Ds-Bda3h&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>'

body
  h1(style="text-align : center") 抒情組＃4 - 乎咱青春
  #author(style="text-align : center")
    p %  所有歌曲版權屬創作學生與畢聯會所有，請勿轉作任何商業用途及散播  %
    br
    p 詞：陳駿碩 / 蔡展豪 / 廖冠旻
    p 曲：陳駿碩 / 蔡展豪 / 廖冠旻
    p 主唱：蔡展豪
    p 和音：陳駿碩 / 廖冠旻 / 羅易雯
    p 吉他：陳駿碩
    p Keyboard：羅易雯

  br
  #song(style="text-align : center")
    h2 DEMO
    !{demo}
    br
    br
    h2 LIVE
    !{song}

  br
  #lyric(style="margin : 0 auto; width : 60vw")
    p 還記得 四年前的那一天
    p 我尬你係頭一次見面
    p 南部的天氣 係那麼的溫暖尬熱情
    p 榕樹下的咱 猶原是青澀的面容
    br
    p 時間啊 飛啊飛 抓不緊
    p 後一次咱見面 不知係何時
    p 到那個時存 甘矮當擱存今嘛安
    p 了解當初的笑容係無變掛
    br
    p 青春的歌 就讓咱作伙來寫 (寫一首歌)
    p 一首咱在成大回憶的歌
    p 打球 營隊 七逃 騎車衝到關子嶺
    p 阮要將他深深刻在我心內
    br
    p 青春的歌 咱要唱啊唱袂煞
    p 這首青春永遠無悔的歌
    p 快樂 寂寞 失戀 是你聽我的心聲
    p 感謝有你 畢業快樂
    br
    p 猶原還是走到這一天
    p 感覺心內有很多話要聊
    p 雖然沒講出來 但是你嘛會知
    p 只是不願甲快 Say goodbye
    br
    p 再會的歌 阮要越唱越大聲
    p 雖然不甘 以後要自己走
    p 失落 傷悲 憂愁 暫時將他放一邊
    p 今晚阮要作伙來 飲乎乾 
    br
    p 感謝有你 畢業快樂
    p 再會啦   成功大學
    br
    br


