*, h1, h2, h3
  font-family "微軟正黑體"

html
  overflow-x hidden
  max-width 100%

.ui.menu.secondary.pointing
  position fixed
  z-index 99
  width 100vw
  background-color rgba(255, 255, 255, 0.6)

#book
  position relative
  height 100%
  max-width 100vw 

#page_1
  overflow-y visible

#page_2
  left 100vw
  height 100vh
  
#page_3
  left 200vw
  height auto

.grid
  height auto
  vertical-align middle

#page_2 .grid .row
  margin-top 0
  padding 0 0 0 0

img
  display inline
  box-shadow 0px 0px 9px 0px rgba(20%,20%,40%,0.5)
  width 100%
  height 100%

#row_1 .column img
  margin-top 5%
  margin-bottom 2.5%

#row_1 .column
  padding 10px
  
#row_2 .column img
  margin-top 2.5%
  
#row_2 .column
  width 10%
  display table-cell
  padding 10px

#row_2
  display table
  width 85%
  margin 0 auto 

#fb
  right 20%

#github
  right 5%

#mask
  position absolute
  z-index 100
  width 100vw
  height 100vh
  background-color #000
  opacity 0

#contact
  width 90vw
  margin 0 auto

p#contact-sub
  margin-top 0

label h3 
  font-size 1.5em

.column.ih-item.square.effect6
  padding 0

// vi:et:nowrap:sw=2:ts=2
