*, h1, h2, h3
  font-family "微軟正黑體"

html
  overflow-x hidden
  max-width 100%

#menu
  position fixed
  z-index 99
  width 100vw
  background-color rgba(255, 255, 255, 0.6)

#menu .ui.secondary.pointing.menu
  width 100%
  min-width 836px
  position absolute
  display inline
  
#logo
  display inline

#logo img
  height auto
  width 15rem
  box-shadow 0px 0px

#menu .right.menu
  margin-right 17rem

#book
  position relative
  height 100%
  max-width 100vw 

#page_1
  overflow-y visible

#page_2
  left 100vw
  height 100vh
  
#page_3
  left 200vw
  height auto

.grid
  height auto
  vertical-align middle

#page_2 .grid .row
  margin-top 0
  padding 0 0 0 0

#profile-container
  margin-top 10vh

#row-2 .column
  padding 0px
  vertical-align middle
  #row-2-1 .column
    padding 0px 1px 1px 1px
    vertical-align top
    .img
      border-top #0000FF 5px solid
  #row-2-2 .column
    padding 1px 1px 0px 1px
    // vertical-align bottom
    .img
      border-bottom #0000FF 5px solid

#row-1 .column
  padding 0px
  text-align center
  p
    height 1.5rem
    line-height 1.5rem

#row-1 .column.two.wide
  padding 1px 1px 0px 1px
  text-align center

#row-3 .column
  padding 0px
  text-align center
  p
    height 1.5rem
    line-height 1.5rem

#row-3 .column.two.wide
  padding 0px 1px 1px 1px
  text-align center

#cur-profile 
  position relative
  overflow-y hidden
  .name
    position absolute
    z-index 2
    right 0px
    bottom 0px
    margin 5%
    font-size 3rem
    font-weight bolder
    text-shadow 0px 0px 35px #000
    letter-spacing 1rem
    color #FFF
    -webkit-writing-mode vertical-lr
  .office
    position absolute
    z-index 2
    right 4rem
    bottom 0px
    margin 5%
    font-size 2rem
    font-weight bold
    letter-spacing 1rem
    color #FFF
    -webkit-writing-mode vertical-lr

#sideinfo
  position absolute
  background-color red
  height auto
  top 50%
  margin-top -16vw
  width 24vw
  z-index 101
  margin-left 0.5%

.info h1
  bottom 0px

img
  display inline
  // box-shadow 0px 0px 9px 0px rgba(20%,20%,40%,0.5)
  width 100%
  height 100%

//#row_1 .column img
//  margin-top 0%
//
//#row_1 .column
//  padding 3px
//  
//#row_2 .column img
//  margin-bottom 0%
//  
//#row_2 .column
//  padding 3px
//
//#row_1
//  bottom 45vh
//
//#row_2
//  top 55vh
//
//#row_2
//  display table
//  bottom 0px
//
//#row_1, #row_2
//  position absolute
//
//.name
//  position relative 
//  width 100%
//  height auto
//  text-align center
//
//.name-top
//  border-bottom #0000FF 5px solid
//  padding-bottom 5px
//
//.name-bottom
//  border-top #0000FF 5px solid
//  padding-top 5px

#fb
  right 20%

#github
  right 5%

#mask
  position absolute
  z-index 100
  width 100vw
  height 100vh
  background-color #000
  opacity 0

#contact
  width 90vw
  margin 0 auto

p#contact-sub
  margin-top 0

label h3 
  font-size 1.5em

.column.ih-item.square.effect6
  padding 0

#info
  position absolute
  width 100vw
  top 50%
  z-index 98

#info img
  width auto

.loading
  background transparent url(../res/images/loader-mini.gif) no-repeat 50% 50% !important
  


// vi:et:nowrap:sw=2:ts=2
