doctype html

body
  h1(style="text-align : center") 歡樂組＃1 - 
  #author(style="text-align : center")
    p 詞：巫孟儒
    p 曲：巫孟儒
    p 主唱：巫孟儒
    p 吉他：巫孟儒
    p 錄音：呂尚霖

  #lyric(style="margin : 0 auto; width : 60vw")
    p 在 那天的午後 
    p 我們 說了再見 之後該往哪走
    p 你總說 那些畫面 失去以後 未必不能再擁有

    p 也許你 有一天會懂 書本裡的艱澀難題總有結果
    p 儘管緣分永遠不能重播 就讓我們揮揮手 

    p 操場上 夕陽下 回憶裡 留下的感動 都是我 們今生 永不會 忘記的夢

    p 就讓我們迎著 風 飛向前 
    p 別讓青春停在這瞬間 
    p 我 還記得那 天 我們一起寫下 的那一篇
    p 今天過後 我們 不再追悔 
    p 那些抓不住的昨天 不管是笑著還哭著 我 都能回味

    p 也許你 有一天會懂 書本裡的艱澀難題總有結果
    p 儘管緣分永遠不能重播 就讓我們揮揮手 

    p 會是誰 出現在 下一個 相遇的路口 又讓我 想起了 曾經被 放棄的夢

    p 就讓我們迎著 風 飛向前 
    p 別讓青春停在這瞬間 
    p 我 還記得那 天 我們一起寫下 的那一篇
    p 今天過後 我們 不再追悔 
    p 那些抓不住的昨天 不管是笑著還哭著 我 都能回味
