doctype html

- var song = '<iframe width="560" height="315" src="https://www.youtube.com/embed/LatLrgu7Wxc" frameborder="0" allowfullscreen></iframe>'
- var demo = '<iframe width="60%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/195799841%3Fsecret_token%3Ds-ifrc8&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>'

body
  h1(style="text-align : center") 歡樂組＃2 - 此刻
  #author(style="text-align : center")
    p %  所有歌曲版權屬創作學生與畢聯會所有，請勿轉作任何商業用途及散播  %
    br
    p 詞：趙奕愷
    p 曲：趙奕愷
    p 主唱：曾啟盛
    p 編曲：趙奕愷 / 李晉源 / 李曜宇 / 陳昀嵩
    p 電子琴：趙奕愷
    p 電吉他：李晉源
    p 貝斯：陳昀嵩
    p 爵士鼓：李曜宇
 
  br
  #song(style="text-align : center")
    h2 DEMO
    !{demo}
    br
    br
    h2 LIVE
    !{song}

  br
  #lyric(style="margin : 0 auto; width : 60vw")
    p 此刻 未來就是你的 不能再怕了
    br
    p 那堂錯過的早八 鬧鐘也還在賴床
    p 還剩多少的清早 能讓你睡到天荒
    p 青春它有點內向 悄悄離開你身旁
    p 對未來再沒想法 夢想們跟著遲到
    br
    p 時間 它真的很壞心
    p 快的讓你無奈要窒息
    p 你能不開心 但沒有放棄的權利
    br
    p 此刻 未來就是你的 不能再怕了
    p 去追逐你愛的那個 我們說著笑著 你怎麼哭了
    p 對的 你就是主演了 詮釋你的人生
    p 帶給未來的你歡樂 我會在你身後給你最熱烈的掌聲
    br
    p 那條邂逅的小巷 有如偶像劇劇場
    p 初次告白快缺氧 想起來還會竊笑
    p 曾說好的微環島 卻始終都宅在家
    p 像那剛學的吉他 永遠停在C大調
    br
    p 人生 就像一部電影
    p 高潮迭起卻不能暫停
    p 要有好結局 就得放手一搏才行
    br
    p 此刻 未來就是你的 不能再怕了
    p 去追逐你愛的那個 我們說著笑著 你怎麼哭了
    p 對的 你就是主演了 詮釋你的人生
    p 帶給未來的你歡樂 我會在你身後給你最熱烈的掌聲
    br
    p [rap]
    p oh come on  今年太倉促 讓你快hold不住 你跳過成功湖 穿過光復雲平的飛撲
    p 答答馬蹄不是錯誤 是你對人生領悟 別忘了此刻的2015
    br
    p 此刻 未來就是你的 不能再怕了
    p 去追逐你愛的那個 我們說著笑著 你不能忘了
    p 對了 請記得這首歌 我們快樂唱著
    p 就算未來你失敗了 還能驕傲回憶你曾經這樣的過著
    br
    br

