doctype html

- var song = ""

body
  h1(style="text-align : center") 歡樂組＃3 - 畢業快樂
  #author(style="text-align : center")
    p %  所有歌曲版權屬創作學生與畢聯會所有，請勿轉作任何商業用途及散播  %
    p 詞：何欣靜 / 陳乃平 / 陳雅涵
    p 曲：何欣靜 / 陳乃平
    p 主唱：何欣靜 / 陳乃平 / 陳雅涵
    p 吉他：何欣靜 / 陳乃平 
    p 沙鈴：陳雅涵
 
  br
  #song(style="text-align : center")
    !{song}

  br
  #lyric(style="margin : 0 auto; width : 60vw")
    p 四年前來到成大 登大人許下願望
    p 一心想要書卷獎  可是早八沒起床
    p 算了去喝牛肉湯  才發現世界不一樣
    p 我還以為我會很強
    br
    p 成功湖的生日趴  成功廳努力成發
    p 勝後強光把我閃瞎  祈禱每一次會歐趴
    p 原來世界比我想得  要多一些暢快和瘋狂
    p 因為是我們一起闖
    br
    p *
    p 畢業快樂  走吧衝一發夕陽
    p 畢業快樂  揪最後一次夜唱
    p 畢業快樂  就算是跌跌撞撞
    p 畢業快樂  成大永遠是你的家
    br
    p 四年前來到成大 登大人許下願望
    p 一心想要書卷獎  可是早八沒起床
    p 算了去喝牛肉湯  才發現世界不一樣
    p 我還以為我會很強
    br
    p 成功湖的生日趴  成功廳努力成發
    p 勝後強光把我閃瞎  祈禱每一次會歐趴
    p 原來世界比我想得  要多一些暢快和瘋狂
    p 因為是我們一起闖
    br
    p *
    p 畢業快樂  走吧衝一發夕陽
    p 畢業快樂  揪最後一次夜唱
    p 畢業快樂  就算是跌跌撞撞
    p 畢業快樂  成大永遠是你的家
    br
    p 四年後離開成大  爸爸媽媽叫我回家
    p 出去工作拿出私篋  突然想念成大星光
    p 裡面有你你你我他  有空出來聚一下吧
    p 充完電後繼續行
    br
    p *
    p 畢業快樂  走吧衝一發夕陽
    p 畢業快樂  揪最後一次夜唱
    p 畢業快樂  就算是跌跌撞撞
    p 畢業快樂  成大永遠是你的家
    br
    p *
    p 畢業快樂  走吧衝一發夕陽
    p 畢業快樂  揪最後一次夜唱
    p 畢業快樂  就算是跌跌撞撞
    p 畢業快樂  成大永遠是你的家

