doctype html

body(style="margin-left:40vw")
  #lyric
    h1 抒情組
    h2
      a(href="/songs/lyric/1.html") #1 巢
    h2
      a(href="/songs/lyric/2.html") #2 綻放之後
    h2
      a(href="/songs/lyric/3.html") #3 時光森林
    h2
      a(href="/songs/lyric/4.html") #4 乎咱青春

  br
  #happy
    h1 歡樂組
    h2
      a(href="/songs/happy/1.html") #1 就讓
    h2
      a(href="/songs/happy/2.html") #2 此刻
    h2
      a(href="/songs/happy/3.html") #3 畢業快樂

