doctype html
html(lang="zh-tw")
  head
    title ncku graduation 104
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0") 
    meta(name="description", content="1")
    meta(name="keywords", content=" ")
    meta(name="author", content="Mouther")
    link(rel="shortcut icon", href="../favicon.ico") 
    link(rel="stylesheet", type="text/css", href="app.css")
    //- link(href='http://fonts.googleapis.com/css?family=Kelly+Slab', rel='stylesheet', type='text/css')
    //- <!--[if lt IE 9]>  <link rel="stylesheet" type="text/css" href="css/styleIE.css" /> <![endif]-->
    //- script(type="text/javascript", src="js/modernizr.custom.11333.js")
        
  body
    .ui.secondary.pointing.menu
      a.active.red.item#icon_1
        i.home.icon.large
        | Home
      a.item#icon_2
        i.users.icon.large
        | Members
      a.item#icon_3
        i.mail.icon.large
        | Contact us
      .right.menu
        a.item#github(href="https://github.com/Mouther/NCKU-graduation104" target="_blank")
          i.github.alternate.icon.large.link
        a.item#fb(href="https://www.facebook.com/ncku.graduation" target="_blank")
          i.facebook.icon.large.link.blue
 
    #book
      .container#page_1
        br
        h1 NCKU graduation
        h2.ss-subtitle Programmmmmmmmmmmmmmmmmmmmmmm
        #ss-links.ss-links
          a(href="#november") Nov
          a(href="#october") Oct
          a(href="#september") Sep
          a(href="#august") Aug
          a(href="#july") Jul
          a(href="#june") Jun
  
        #ss-container.ss-container
      .container#page_2
        br
        h1
        .ui.seven.column.divided.grid
          .row#row_1
            .column
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.ui.image(src="/res/images/profile/2.jpg")
                .info
                  h1 我好正 <3
                  h3 我好正 <3
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.ui.image(src="/res/images/profile/2.jpg")
                .info
                  h1 我好正 <3
                  h3 我好正 <3
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.ui.image(src="/res/images/profile/2.jpg")
                .info
                  h1 我好正 <3
                  h3 我好正 <3
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.ui.image(src="/res/images/profile/2.jpg")
                .info
                  h1 我好正 <3
                  h3 我好正 <3
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.ui.image(src="/res/images/profile/2.jpg")
                .info
                  h1 我好正 <3
                  h3 我好正 <3
          .row#row_2
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.ui.image(src="/res/images/profile/2.jpg")
                .info
                  h1 我好正 <3
                  h3 我好正 <3
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.ui.image(src="/res/images/profile/2.jpg")
                .info
                  h1 我好正 <3
                  h3 我好正 <3
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.ui.image(src="/res/images/profile/2.jpg")
                .info
                  h1 我好正 <3
                  h3 我好正 <3
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.ui.image(src="/res/images/profile/2.jpg")
                .info
                  h1 我好正 <3
                  h3 我好正 <3
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.ui.image(src="/res/images/profile/2.jpg")
                .info
                  h1 我好正 <3
                  h3 我好正 <3
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.ui.image(src="/res/images/profile/2.jpg")
                .info
                  h1 我好正 <3
                  h3 我好正 <3

      .container#page_3
        br 
        br
        br
        br
        #contact
          .ui.attached.message.blue
            .haeder
              h2 聯絡我們
              p#contact-sub 任何有需要改進的地方，或是任何意見，都歡迎告知我們 =]
          form.ui.form.attached.fluid.segment
            .two.fields
              .ui.field.large.input
                label 
                  h3(style="font-weight:bold") 姓名
                input(placeholder="Name" type="text")
              .ui.field.large.input
                label 
                  h3(style="font-weight:bold") 系級 
                input(placeholder="I don't know how to spell" type="text")
            .ui.field.large.input
              label 
                h3(style="font-weight:bold") 電子信箱
              input(placeholder="E-mail address" type="text")
            .ui.field.large.input
              label 
                h3(style="font-weight:bold") Comment
              textarea
            .ui.buttons
              .ui.button Cancel
              .or
              .ui.button.positive Reply
        br      

    //- #mask

    //-  
        .ss-row
          .ss-left
            h2#november November
          .ss-right
            h2 2011

        .ss-row.ss-medium
          .ss-left
            a.ss-circle.ss-circle-1 Typography Effects with CSS3 and jQuery
          .ss-right
            h3
              span November 28, 2011
              a Typography Effects with CSS3 and jQuery

        .ss-row.ss-large
          .ss-left
            h3
              span November 22, 2011
              a Hover and Click Trigger for Circular Elements with jQuery
          .ss-right
            a.ss-circle.ss-circle-2 Hover and Click Trigger for Circular Elements with jQuery
 
        .ss-row.ss-large
          .ss-left
            h3
              span November 22, 2011
              a Hover and Click Trigger for Circular Elements with jQuery
          .ss-right
            a.ss-circle.ss-circle-2 Hover and Click Trigger for Circular Elements with jQuery
      
        .ss-row.ss-large
          .ss-left
            h3
              span November 22, 2011
              a Hover and Click Trigger for Circular Elements with jQuery
          .ss-right
            a.ss-circle.ss-circle-2 Hover and Click Trigger for Circular Elements with jQuery
 
        .ss-row.ss-large
          .ss-left
            h3
              span November 22, 2011
              a 我好正 <3我好正 <3我好正 <3我好正 <3TTT
          .ss-right
            a.ss-circle.ss-circle-2 Hover and Click Trigger for Circular Elements with jQuery
   
    script(type="text/javascript", src="app.js")
      
//- vi:et:nowrap:sw=2:ts=2
