doctype html
html(lang="zh-tw")
  head
    title ncku graduation 104
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0") 
    meta(name="description", content="1")
    meta(name="keywords", content=" ")
    meta(name="author", content="Mouther")
    link(rel="shortcut icon", href="../favicon.ico") 
    link(rel="stylesheet", type="text/css", href="app.css")
    //- link(href='http://fonts.googleapis.com/css?family=Kelly+Slab', rel='stylesheet', type='text/css')
    //- <!--[if lt IE 9]>  <link rel="stylesheet" type="text/css" href="css/styleIE.css" /> <![endif]-->
    //- script(type="text/javascript", src="js/modernizr.custom.11333.js")
        
  body
    .ui.secondary.pointing.menu
      a.active.red.item#icon_1
        i.home.icon.large
        | Home
      a.item#icon_2
        i.user.icon.large
        | Members
      a.item#icon_3
        i.mail.icon.large
        | Contact us
    .right.menu
        .item
        //  .ui.icon.input
            input(type="text",placeholder="Search...")
            i.search.link.icon
        //a.ui.item Logout
 
    #book
      .container#page_1
        br
        h1 NCKU graduation
        h2.ss-subtitle Programmmmmmmmmmmmmmmmmmmmmmm
        #ss-links.ss-links
          a(href="#november") Nov
          a(href="#october") Oct
          a(href="#september") Sep
          a(href="#august") Aug
          a(href="#july") Jul
          a(href="#june") Jun
  
        #ss-container.ss-container
      .container#page_2
        br
        h1
        .ui.seven.column.divided.grid
          .row#row_1
            .column
            .column.ih-item.square.effect6.top_to_bottom 
              a
                .img
                  img.rounded.ui.image(src="/res/images/profile/1.jpg")
                .info
                  h1 TTTT
                  p TTTT
            .column 
              img.rounded.ui.image(src="/res/images/profile/2.jpg")
            .column 
              img.rounded.ui.image(src="/res/images/profile/3.jpg")
            .column 
              img.rounded.ui.image(src="/res/images/profile/4.jpg")
            .column 
              img.rounded.ui.image(src="/res/images/profile/5.jpg")
            .column 
              img.rounded.ui.image(src="/res/images/profile/6.jpg")
          .row#row_2
            .column 
              img.rounded.ui.image(src="/res/images/profile/7.jpg")
            .column 
              img.rounded.ui.image(src="/res/images/profile/8.jpg")
            .column 
              img.rounded.ui.image(src="/res/images/profile/9.jpg")
            .column 
              img.rounded.ui.image(src="/res/images/profile/10.jpg")
            .column 
              img.rounded.ui.image(src="/res/images/profile/11.jpg")
            .column 
              img.rounded.ui.image(src="/res/images/profile/12.jpg")
            .column 
              img.rounded.ui.image(src="/res/images/profile/13.jpg")
      .container#page_3
        br
        h1 CONTACT 建構中
    //-  
        .ss-row
          .ss-left
            h2#november November
          .ss-right
            h2 2011

        .ss-row.ss-medium
          .ss-left
            a.ss-circle.ss-circle-1 Typography Effects with CSS3 and jQuery
          .ss-right
            h3
              span November 28, 2011
              a Typography Effects with CSS3 and jQuery

        .ss-row.ss-large
          .ss-left
            h3
              span November 22, 2011
              a Hover and Click Trigger for Circular Elements with jQuery
          .ss-right
            a.ss-circle.ss-circle-2 Hover and Click Trigger for Circular Elements with jQuery
 
        .ss-row.ss-large
          .ss-left
            h3
              span November 22, 2011
              a Hover and Click Trigger for Circular Elements with jQuery
          .ss-right
            a.ss-circle.ss-circle-2 Hover and Click Trigger for Circular Elements with jQuery
      
        .ss-row.ss-large
          .ss-left
            h3
              span November 22, 2011
              a Hover and Click Trigger for Circular Elements with jQuery
          .ss-right
            a.ss-circle.ss-circle-2 Hover and Click Trigger for Circular Elements with jQuery
 
        .ss-row.ss-large
          .ss-left
            h3
              span November 22, 2011
              a TTTTTTTTTTTTTTTTTTT
          .ss-right
            a.ss-circle.ss-circle-2 Hover and Click Trigger for Circular Elements with jQuery
   
    script(type="text/javascript", src="app.js")
      
//- vi:et:nowrap:sw=2:ts=2
