doctype html
html(lang="zh-tw")
  head
    title 成大 104 級 畢聯會官網
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0") 
    meta(name="description", content="國立成功大學 104 級 畢業聯合會 官方網站")
    meta(name="keywords", content="NCKU, 成大, 成功大學, 國立成功大學, 應屆, 畢業生, 畢業生聯合會, 應屆畢業生聯合會, 104, 畢聯會, 畢業, 畢業典禮")
    meta(name="author", content="Mouther")
    link(rel="shortcut icon", href="/res/images/favicon.png") 
    link(rel="stylesheet", type="text/css", href="app.css")
    //- link(href='http://fonts.googleapis.com/css?family=Kelly+Slab', rel='stylesheet', type='text/css')
    //- <!--[if lt IE 9]>  <link rel="stylesheet" type="text/css" href="css/styleIE.css" /> <![endif]-->
    //- script(type="text/javascript", src="js/modernizr.custom.11333.js")
        
  body
    #menu
      #logo
        img(src="/res/images/LOGO-top.png")
      .ui.secondary.pointing.menu
        a.active.red.item#icon_1
          i.home.icon
          | Home
        a.item#icon_2
          i.users.icon
          | Members
        a.item#icon_3
          i.mail.icon
          | Contact us
        a.item#icon_4
          i.file.text.icon
          | Download
        a.item#icon_5
          i.shop.text.icon
          | T-shirt
        .right.menu
          //- a.item#github(href="https://github.com/Mouther/NCKU-graduation104" target="_blank")
          //-   i.github.alternate.icon.large.link
          a.item#fb(href="https://www.facebook.com/ncku.graduation" target="_blank")
            i.facebook.icon.link.blue
 
    #book
      .container#page_1
        br
        br
        br
        br
        br
        //- h1 NCKU graduation
        //- h2.ss-subtitle Program
        #ss-links.ss-links
        //   a(href="#november") Nov
        //   a(href="#october") Oct
        //   a(href="#september") Sep
        //   a(href="#august") Aug
        //   a(href="#july") Jul
        //   a(href="#june") Jun
  
        #ss-container.ss-container
      .container#page_2
        #info
        .ui.vertically.celled.grid#profile-container
          .row#row-1
            .four.wide.column
            .twelve.wide.column.ui.celled.grid
              .row
                .two.wide.column#name-1
                  p
                .two.wide.column#name-3
                  p
                .two.wide.column#name-5
                  p
                .two.wide.column#name-7
                  p
                .two.wide.column#name-9
                  p
                .two.wide.column#name-11
                  p
          .row#row-2
            .four.wide.column#cur-profile.pointer
              .name
                | 李念庭
              .office
                | 會長
              .img#profile-0
                img.ui.image#pic-1(src="/res/images/profile/1.jpg")
            #profile-content.twelve.wide.column
              i.remove.icon.big
              #experience
              #say
            .twelve.wide.column.ui.vertically.celled.grid
              .row#row-2-1
                .two.wide.column
                  .img#profile-1
                    img.ui.image#pic-2(src="/res/images/profile/2.jpg")
                .two.wide.column
                  .img#profile-3
                    img.ui.image#pic-3(src="/res/images/profile/3.jpg")
                .two.wide.column
                  .img#profile-5
                    img.ui.image#pic-4(src="/res/images/profile/4.jpg")
                .two.wide.column
                  .img#profile-7
                    img.ui.image#pic-5(src="/res/images/profile/5.jpg")
                .two.wide.column
                  .img#profile-9
                    img.ui.image#pic-6(src="/res/images/profile/6.jpg")
                .two.wide.column
                  .img#profile-11
                    img.ui.image#pic-7(src="/res/images/profile/7.jpg")
              .row#row-2-2
                .two.wide.column
                  .img#profile-2
                    img.ui.image#pic-8(src="/res/images/profile/8.jpg")
                .two.wide.column
                  .img#profile-4
                    img.ui.image#pic-9(src="/res/images/profile/9.jpg")
                .two.wide.column
                  .img#profile-6
                    img.ui.image#pic-10(src="/res/images/profile/10.jpg")
                .two.wide.column
                  .img#profile-8
                    img.ui.image#pic-11(src="/res/images/profile/11.jpg")
                .two.wide.column
                  .img#profile-10
                    img.ui.image#pic-12(src="/res/images/profile/12.jpg")
                .two.wide.column
                  .img#profile-12
                    img.ui.image#pic-13(src="/res/images/profile/13.jpg")
          .row#row-3
            .four.wide.column
            .twelve.wide.column.ui.celled.grid
              .row
                .two.wide.column#name-2
                  p
                .two.wide.column#name-4
                  p
                .two.wide.column#name-6
                  p
                .two.wide.column#name-8
                  p
                .two.wide.column#name-10
                  p
                .two.wide.column#name-12
                  p
         
        //-  #sideinfo.column.wide
        //-    .img
        //-      img.ui.image(src="/res/images/profile/6.jpg")
        //-  .row#row_1
        //-    .column.ih-item.square
        //-    .column.ih-item.square
        //-    .column.ih-item.square#col3
        //-      .name.name-top PIGGY
        //-      .img
        //-        img.ui.image(src="/res/images/profile/2.jpg")
        //-    .column.ih-item.square.effect6.bottom_to_top#col5  
        //-      .img
        //-        img.ui.image(src="/res/images/profile/3.jpg")
        //-    .column.ih-item.square.effect6.bottom_to_top#col7 
        //-      .img
        //-        img.ui.image(src="/res/images/profile/4.jpg")
        //-    .column.ih-item.square.effect6.bottom_to_top#col9 
        //-      .img
        //-        img.ui.image(src="/res/images/profile/5.jpg")
        //-    .column.ih-item.square.effect6.bottom_to_top#col11 
        //-      .img
        //-        img.ui.image(src="/res/images/profile/6.jpg")
        //-    .column.ih-item.square.effect6.bottom_to_top#col13 
        //-      .img
        //-        img.ui.image(src="/res/images/profile/7.jpg")
        //-  .row#row_2
        //-    .column.ih-item.square
        //-    .column.ih-item.square
        //-    .column.ih-item.square.effect6.top_to_bottom#col2 
        //-      .img
        //-        img.ui.image(src="/res/images/profile/2.jpg")
        //-      .name.name-bottom PIGGY
        //-    .column.ih-item.square.effect6.top_to_bottom#col4 
        //-      .img
        //-        img.ui.image(src="/res/images/profile/2.jpg")
        //-    .column.ih-item.square.effect6.top_to_bottom#col6 
        //-      .img
        //-        img.ui.image(src="/res/images/profile/2.jpg")
        //-    .column.ih-item.square.effect6.top_to_bottom#col8 
        //-      .img
        //-        img.ui.image(src="/res/images/profile/2.jpg")
        //-    .column.ih-item.square.effect6.top_to_bottom#col10 
        //-      .img
        //-        img.ui.image(src="/res/images/profile/2.jpg")
        //-    .column.ih-item.square.effect6.top_to_bottom#col12 
        //-      .img
        //-        img.ui.image(src="/res/images/profile/2.jpg")

      .container#page_3
        #contact
          .ui.attached.message
            .header_
              h2 聯絡我們
              p.contact-sub 任何有需要改進的地方，或是任何意見，都歡迎告知我們 =]
          form.ui.form.attached.fluid.segment
            .two.fields
              .ui.field.input
                label 
                  h3(style="font-weight:bold") 姓名
                input.name(placeholder="Name" type="text")
              .ui.field.input
                label 
                  h3(style="font-weight:bold") 系級 
                input.department(placeholder="Department" type="text")
            .ui.field.input
              label 
                h3(style="font-weight:bold") 電子信箱
              input.email(placeholder="E-mail address" type="text")
            .ui.field.input
              label 
                h3(style="font-weight:bold") 想跟我說什麼？
              textarea.comment(placeholder="Comment" style="height:auto")
            .submit
              .ui.buttons
                .ui.button.cancel Cancel
                .or
                .ui.button.positive.reply Reply
        br      

      .container#page_4
        #file
          .ui.internally.celled.grid
            .row
              .thirteen.wide.column
                h2 Name
              .two.wide.column
                h2 Date
              .one.wide.column

        br
      
      .container#page_5
        .iframe.mask
          iframe(src="cssslider.html" style="width:70vw;height:auto;max-width:100%;overflow:hidden;border:none;padding:0;margin:0 auto;display:block;" marginheight="0" marginwidth="0")
        #t-shirt
          .ui.attached.message
            .header_
              h2 畢業 T-shirt 預購
              p.contact-sub
                此為第一階段預購，５／１，１２：００～５／３，２３：５９
                br
                僅開放給『<a style='color:yellow'>應屆畢業生</a>』預購，若學號三四碼不是００或０２的同學，請在備註欄說明
                br
                每個學號『<a style='color:yellow'>限預購五件</a>』且『<a style='color:yellow'>僅能成功地填寫一次表單</a>』，請各位同學注意
                br
                h3
                  a(href='res/images/boy-size.jpg' target='_blank') 男生尺寸表
                  | &nbsp; &nbsp;
                  a(href='res/images/girl-size.jpg' target='_blank') 女生尺寸表
          form.ui.form.attached.fluid.segment
            .three.fields
              .ui.field.input
                label 
                  h3(style="font-weight:bold") 姓名
                input.name(placeholder="Name" type="text")
              .ui.field.input
                label 
                  h3(style="font-weight:bold") 系級 
                input.department(placeholder="Department" type="text")
              .ui.field.input
                label 
                  h3(style="font-weight:bold") 學號
                input.id(placeholder="Student ID" type="text")
            .two.fields
              .ui.field.input
                label 
                  h3(style="font-weight:bold") 電子信箱
                input.email(placeholder="E-mail address" type="text")
              .ui.field.input
                label 
                  h3(style="font-weight:bold") 手機
                input.phone(placeholder="Phone number" type="text")
            .ui.field.input
              label 
                h3(style="font-weight:bold") 備註
              textarea.remark(placeholder="Remark" style="height:auto")
            .ui.field.input
              label 
                h3(style="font-weight:bold") 訂購數量
              .ui.selection.dropdown
                input(type="hidden" name="amount")
                .default.text 0 
                i.dropdown.icon
                .menu
                  .item(data-value="1") 1
                  .item(data-value="2") 2
                  .item(data-value="3") 3
                  .item(data-value="4") 4
                  .item(data-value="5") 5
            .t-shirts
            .ui.divider
            .price(style="position:relative;width:100%")
              h2(style="margin-left:auto") 總計：NTD&nbsp;
                a 0
            .submit
              .ui.buttons
                .ui.button.cancel Cancel
                .or
                .ui.button.positive.reply Send
        br      


    //- #mask

    script(type="text/javascript", src="app.js")
      
//- vi:et:nowrap:sw=2:ts=2
