doctype html
html(lang="zh-tw")
  head
    title 成大 104 級 畢聯會官網
    meta(charset="utf-8")
    meta(name="author", content="Mouther")
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.css")
    script(type="text/javascript", src="app.js")
 
  body

    br
    table.first.ui.celled.table(style="position:relative;margin:0 auto;width:90vw")
      thead
        tr
          th ID
          th 姓名
          th 系級
          th 學號
          th e-mail
          th 電話
          th 數量
          th 價格
          th.wide.four 內容
          th 備註
      tbody


    script(type="text/javascript").
      $(function(){
        console.log("ready");
        order();
      });

